<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <servlet-name>RegistrationServlet</servlet-name>
    <servlet-class>rca.bank.RegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationServlet</servlet-name>
    <url-pattern>/RegistrationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Customer</servlet-name>
    <servlet-class>rca.bank.Customer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Customer</servlet-name>
    <url-pattern>/Customer</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CustomerConn</servlet-name>
    <servlet-class>rca.bank.CustomerConn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerConn</servlet-name>
    <url-pattern>/CustomerConn</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>rca.bank.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>BankingSystem</display-name>
    <servlet-name>BankingSystem</servlet-name>
    <servlet-class>rca.bank.BankingSystem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BankingSystem</servlet-name>
    <url-pattern>/BankingSystem</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>rca.bank.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Account</servlet-name>
    <servlet-class>rca.bank.Account</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Account</servlet-name>
    <url-pattern>/Account</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DepositServlet</display-name>
    <servlet-name>DepositServlet</servlet-name>
    <servlet-class>rca.bank.DepositServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepositServlet</servlet-name>
    <url-pattern>/DepositServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WithdrawServlet</display-name>
    <servlet-name>WithdrawServlet</servlet-name>
    <servlet-class>rca.bank.WithdrawServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WithdrawServlet</servlet-name>
    <url-pattern>/WithdrawServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckbalanceServlet</display-name>
    <servlet-name>CheckbalanceServlet</servlet-name>
    <servlet-class>rca.bank.CheckbalanceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckbalanceServlet</servlet-name>
    <url-pattern>/CheckbalanceServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>AgeFilter</display-name>
    <filter-name>AgeFilter</filter-name>
    <filter-class>rca.bank.AgeFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AgeFilter</filter-name>
    <url-pattern>/AgeFilter</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>Age2Filter</display-name>
    <filter-name>Age2Filter</filter-name>
    <filter-class>rca.bank.AgeFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Age2Filter</filter-name>
    <url-pattern>/Age2Filter</url-pattern>
  </filter-mapping>
</web-app>